.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #182129;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}

body {
    font-family: "Quantico", sans-serif;
    margin: 0px;
    padding: 25px;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-shadow: 0 0 0 10px #182129 inset
}

h1{
   margin-bottom: 0;
}

p {
    margin: 5px;
}

#comment-box {
    background-color: rgb(87, 89, 89);
    padding: 10px;
    border-radius: 20px;
}

#demo-canvas {
    width: 70vw;
    height: 70vh;
    margin-top: 20px;

    /*
    * WebGL trick: pick an offensive canvas background color to test
    *  opacity/clearing bugs
    */
    background-color: #6652da;

    border: 3px solid rgb(255, 111, 0);

    /* Help to illustrate the rasterizer's job: when artificially lowering resolution, show pixelated image */
    image-rendering: crisp-edges;
}

/** CSS to make a nice little error box output for debugging (nice if you can't use devtools, e.g. mobile)  */
#error-box {
    color: #fd8080;
    font-weight: 500;
    font-size: 18pt;
    border: 1px solid white;
    padding-inline: 1em;
    box-sizing: border-box;
    margin: 20px;
    width: 70vw;
    height: 2em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error-box-title {
    color: #eee;
}

#site-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70vw;
    align-items: center;
}

#site-header-title {
    margin-right: auto;
}

#site-header-subtitle{
    margin: 0px;
}